### gradle ###
**/.gradle/*
.dependency-check

### maven ###
!.mvn/wrapper/maven-wrapper.jar

### build ###
build/
!**/src/main/**/build/
!**/src/test/**/build/
target/
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
